<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/gallery.css') }}">
    <script src="/static/styles/gallery.js"></script>
    <script src="/static/styles/Ham.js"></script>
    <link rel="shortcut icon" href="/static/images/ehsanelderly_LOGO-transparent.ico" type="image/x-icon">
    <title>گالری عکس</title>
</head>
<body>
  <header>
        
    <div class="main_header">
        <button class="hamburger">
            <div class="bar"></div>
        </button>
        <nav class="navbar">
            <div class="header">
                <ul>
                    <li class="logo_image"><a href="/" id="logo-header"><img src="/static/images/ehsanelderly_LOGO.png" alt="logo"></a></li>
                    <li class="home_nav"><a href="/">خانه</a></li>
                    <li class="gallery_nav"><a href="/gallery">گالری عکس</a></li>
                    <li class="article_nav"><a href="/article">مقالات</a></li>
                    <li class="about_nav"><a href="#">درباره ما</a></li>
                    <li class="contact_nav"><a href="/contact">تماس با ما</a></li>
                </ul>
            </div>
        </nav>
        <div class="login_signup">
            <div class="loginbtn"><a href="/login">ورود</a></div>
            <div class="signupbtn"><a href="/signup">ثبت نام</a></div>
        </div>
        <nav class="mobile-nav">
            <a href="/" id="ham-logo"><img src="/static/images/ehsanelderly_LOGO-transparent.png" alt="logo"></a>
            <a href="/">خانه</a>
            <a href="/gallery">گالری عکس</a>
            <a href="/article">مقالات</a>
            <a href="#">درباره ما</a>
            <a href="#">تماس با ما</a>
        </nav>
    </div>
</header>
    <div class="gallery">
        <div class="gallery-item">
          <img src="/static/images/1.jpg" alt="Image 1" onclick="openModal('/static/images/1.jpg')">
        </div>
        <div class="gallery-item">
          <img src="/static/images/3.jpg" alt="Image 2" onclick="openModal('/static/images/3.jpg')">
        </div>
        <div class="gallery-item">
          <img src="/static/images/5.jpg" alt="Image 3" onclick="openModal('/static/images/5.jpg')">
        </div>
        <div class="gallery-item">
            <img src="/static/images/2.jpg" alt="Image 1" onclick="openModal('/static/images/2.jpg')">
          </div>
          <div class="gallery-item">
            <img src="/static/images/4.jpg" alt="Image 2" onclick="openModal('/static/images/4.jpg')">
          </div>
          <div class="gallery-item">
            <img src="/static/images/6.jpg" alt="Image 3" onclick="openModal('/static/images/6.jpg')">
          </div>
      </div>
      
      <div id="modal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img id="modalImage" src="" alt="Modal Image">
      </div>

      <footer>
        <div class="footer">
            <div class="footer-right">
                <p><img class="footer-icon" style="width: 20px;height: 20px;" src="/static/images/old-phone-svgrepo-com.svg" alt=""><a href="tel:+983432518390">034-3251-8390</a></p>
                <p><img class="footer-icon" style="width: 20px;height: 20px;" src="/static/images/phone-flip-svgrepo-com.svg" alt=""><a href="tel:+989211461272">0921-146-1272</a></p>
                <p class="links-title">پیوندها</p>
                <p><a href="https://www.behzisti.ir/">سازمان بهزیستی کشور</a></p>
                
            </div>
            <div class="footer-left">
                <img src="/static/images/ehsanelderly_LOGO-transparent.png" alt="footer logo">
                <p><img class="footer-icon" style="width: 20px;height: 20px;" src="/static/images/map-pin-alt-svgrepo-com.svg" alt="">خیابان استقلال، کوچه 10، نبش غربی 7، پلاک 2</p>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 1402 | کلیه حقوق محفوظ میباشد </p>
            <p class="designers">&#40;: Designed By <a href="https://github.com/asdf-ITeam">asdf Team</a></p>
        </div>
    </footer>
</body>
</html>